button{
    width: 150px;
    height: 150px;
}
.paneles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 500px;
    margin: auto;
}
.conteiner_footer{
    display: grid;
    grid-template-columns: repeat(2,auto);
    background-color: darkorchid;
}
.conteiner_footer div{
    
}